MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=finance
COINGECKO_API_KEY=
COINMARKETCAP_API_KEY=
BINANCE_BASE_URL=https://api.binance.com
NEXT_PUBLIC_SITE_URL=https://finance.blissbiovn.com
